.app {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 5rem;
  background-color: #eee;
}

.primary-btn {
  padding: 0.75rem 2.5rem;
  border-radius: 5px;
  background-color: #ab3871;
  font-size: 18px;
  color: white;
  border: 0;
  cursor: pointer;
  font-family: monospace;
}

nav {
  background-color: #333;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 3rem;
}